@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @using (Html.BeginForm())
    {
        foreach (var question in ViewBag.Questions)
        {
            <div id="LeftColumn" style="float: Left; padding-left: 50px;">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>UserName</th>
                            <th>Created</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>@Html.ActionLink((string)question.Title, "Details", "Question", new { id = question.Id }, new {@class="text-default" })</td>
                            <td>@Html.RouteLink((string)question.Owner.UserName, new {UserName = question.Owner.UserName })</td>
                            <td>@question.Created</td>
                            

                        </tr>
                    </tbody>
                </table>
            </div>
        }

    }
</div>